.App {
  text-align: center;
}

/* //HEADER// */
.header {
  background-color: #282c34;
  font-size: calc(8px + 2vmin);
  padding:1.1% ;
  position:sticky;
}

/* navbar */
.logoimg {
  height: 30vh;
  margin-top: 5%;
}

.navbar {
  display:flex;
  /* position:relative; */
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

nav li {
  display: inline-block;
}

.navlinks a {
  margin: 20px;
  color: #d9d9d9;
  text-decoration: none;
}

.navlinks a:hover {
  /* font-size: calc(12px + 2vmin); */
  color: aqua;
}

/* //MAIN// */
.main {
  background-color: #636d81;
}

hr {
  border-color: black;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 5vh;
  margin-top: 10vh;
}

h1 {
  display: flex;
  margin-top: 10vh;
  margin-left: 20vh;
}

.home {
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;
  align-items: center;
}

.home li {
  list-style: none;
  font-size: calc(13px + 2vmin);
  margin-top: 5vh;
}

.profiltext p {
  /* font-style: italic; */
  font-weight: bold;
}

.profil {
  height: 60vh;
  width: auto;
  margin-top: 3,5vh;
  margin-bottom: 3,5vh;
  margin-right: 10vh;
  border-radius: 50%;
}

/* //ABOUT ME// */
/* .aboutme h1 {
  display: flex;
  margin-top: 10vh;
  margin-left: 20vh;
} */

.aboutme img {
  height: 35vh;
  border-radius: 7px;
  margin-bottom: 3vh;
}

.aboutme p {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

/* //SKILLS// */
.wrapper {
  display: grid;
  /* grid-template-rows: auto auto auto auto auto auto;*/
  grid-template-columns: auto auto auto;
  /* grid-template-columns: 200px 200px 200px; */
}

.item {
  background-color: blue;
}