.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:1.5% ;


}

.navbar {
  display:flex;
  justify-content: space-around;
}

.logo {
  align-items: cetner;
}

.navlinks{
  /* display: flex; */
}